@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--yellow: hsl(47, 88%, 63%);
	--white: hsl(0, 0%, 100%);
	--gray-500: hsl(0, 0%, 42%);
	--gray-950: hsl(0, 0%, 7%);
	font-family: "Figtree", sans-serif;

	line-height: 1.5;
	font-size: 16px;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--yellow);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card-box {
	width: 20.4375em;
	height: 31.3125em;
	border: 1px solid var(--gray-950);
	background-color: var(--white);
	border-radius: 1em;
	box-shadow: 0.5em 0.5em var(--gray-950);
	padding: 1.5em;
}

.card-body {
	margin: 1.5rem 0;
}

.card-body * + * {
	margin-top: 0.75rem;
}

.blog-img {
	border-radius: 0.5em;
	height: 12.5rem;
	width: 17.4375rem;
	object-fit: cover;
}

.category {
	background-color: var(--yellow);
	color: var(--gray-950);
	font-weight: 500;
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
}

.publish-date {
	color: var(--gray-950);
	font-size: 0.75rem;
}

h3 {
	font-weight: 800;
	font-size: 1.25rem;
}

h3:hover {
	color: var(--yellow);
	cursor: pointer;
}

.article {
	color: var(--gray-500);
	font-size: 0.875rem;
}

.author {
	display: flex;
	align-items: center;
}

.author-icon {
	height: 2rem;
}

.author-name {
	color: var(--gray-950);
	font-size: 0.875rem;
	font-weight: 800;
	margin-left: 0.75rem;
}

@media (min-width: 48em) {
	:root {
		font-size: min(calc(1em + 0.1vw), 1.2em);
	}
}
